<!DOCTYPE html>
<html lang=pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/css/styles.css">
    <title>BovoTech - Gerenciador de uniforme</title>
</head>
<body>
    
    
    <main class="menu">
        
        
            <h1 style="color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Recuperar Senha</h1>

            <div class="login">
                
                <label>Nova Senha</label>
                <input  id="new-senha-input" type="password" id="new-senha" >
                
                <label>Confirmar nova Senha</label>
                <input  id="pass-input" type="password" id="usuario" >
            </div>
        <button onclick="Login()" class="btn" type="submit">Login</button>
        <a href="#">Esqueci a senha</a>

       
        
    </main>
</body>
<script src="/templates/js/script.js"></script>
</html>