<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/css/menu.css">
    
    

    <title>Document</title>
</head>
<body>
    <header class="header">
        <img  class="imglogo" src="/img/LOG1.png" alt="">
        <nav class="nav-bar">
            <ul>
                <li><a href="estoque.html">Estoque</a></li>
                <li><a href="#">Estoque</a></li>
                <li><a href="#">Bolsonar</a></li>
                <li><a href="#">Bolsonar</a></li>
                
            </ul>
            
        </nav>
        <button id="btn-logout" onclick="Logout()">Sair</button>
        
        
    </header>
        <main class="main-menu">
                <div class="container-tabela">
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Modelo Uniforme</th>
                                <th>Qtd em Estoque</th>
                                <th>Qtd em Uso</th>
                                <th>Valor Total</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>001</td>
                                <td>Polo Cinza</td>
                                <td>45</td>
                                <td>120</td>
                                <td>$ 8.250.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
</body>
    <script src="/templates/js/script.js"></script>
</html>